/* ============ styles for root ============ */
/* цвет заголовков #212121 */
/* цвет абзацев #757575 */
:root {
--title-textcolor: #212121;
--paragraph-textcolor: #757575;
}
/* ============ styles for body ============ */
.list {
list-style: none;
}
.link {
text-decoration: none;
}
body {
font-family: "Roboto", "Raleway", sans-serif;
}
/* ============ styles for header ============ */
.nav-section {
  background-color: #FFFFFF;
}
.logo {
font-family: "Raleway";
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196f3;
}
.header-studio {
  color: #000000;
}
.nav-list-item:hover,
.nav-list-item:focus {
color: #2196f3;
}
.site-nav .nav-list-item.current {
  color: #2196f3;
}
.nav-list-item {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.contact-list-item {
font-style: 400;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.contact-list-item:hover,
.contact-list-item:focus {
color: #2196f3;
}
/* ============ styles for hero ============ */
.hero-section {
  background-color: #2F303A;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.modal-btn {
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #ffffff;
cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
background-color: #2196F3;
}
/* ============ styles for our_methods ============ */
.methods-list-item-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.methods-list-item-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}
/* ============ styles for tasks ============ */
.tasks-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #212121;
}
/* ============ styles for command ============ */
.command-section {
  background-color: #F5F4FA;
}
.command-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #212121;
}
.command-list-item-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #212121;
}
.command-list-item-text {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #757575;
}
/* ============ styles for footer ============ */
.footer-section {
background-color: #000000;
}
.footer-studio {
  color: #FFFFFF;
}
.geoposition {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #ffffff;
}
.geoposition:hover,
.geoposition:focus {
  color: #2196f3;
}
.address-link {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus {
  color: #2196f3;
}
/* ============ styles for PAGE portfolio ============ */
.modal-btn-portfolio {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
}
.menu-list h3 {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}
.menu-list p {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}
